<div class="container body-content">
  <h2>{{bible.title}}</h2>

  <p>
    <a href="#bibles">Back to List</a>
  </p>

  <!-- Old Testament books -->
  <div class="col-md-6">
    <h4>Old Testament</h4>
    <table class="table table-condensed table-responsive table-hover">
      <tr>
        <th>Title</th>
        <th>Category</th>
      </tr>
      <tr ng-repeat="book in books | filter : {'testament': 'OT'}">
        <td>
          <a href="#chapters?bible={{bible.code}}&book={{book.code}}&chapter=1">
            {{book.title}}
          </a>
        </td>
        <td>{{book.category}}</td>
      </tr>
    </table>
  </div>

  <!-- New Testament books -->
  <div class="col-md-6">
    <h4>New Testament</h4>
    <table class="table table-condensed table-responsive table-hover">
      <tr>
        <th>Title</th>
        <th>Category</th>
      </tr>
      <tr ng-repeat="book in books | filter : {'testament': 'NT'}">
        <td>
          <a href="#chapters?bible={{bible.code}}&book={{book.code}}&chapter=1">
            {{book.title}}
          </a>
        </td>
        <td>{{book.category}}</td>
      </tr>
    </table>
  </div>

</div>
