<!-- Book chapter reader view -->
<div class="container body-content">
  <h2>{{book.title}}</h2>

  <p>
    <a href="#books?bible={{book.bible}}">Back to List</a>
  </p>
  <div>
    <ul class="pagination">
      <li ng-repeat="chapter in chapters" class="{{chapter.chapter == currChapter.chapter?'active':''}}">
        <a href="#chapters?bible={{chapter.bible}}&book={{chapter.book}}&chapter={{chapter.chapter}}"
           ng-click="getChapterVerses(chapter.chapter)">
          {{chapter.chapter}}
        </a>
      </li>
    </ul>
  </div>

  <!-- Render chapter text -->
  <h4>Chapter {{currChapter.chapter}}</h4>
  <div class="panel">
    <p ng-repeat="verse in verses"><sup>{{verse.verse}}</sup> {{verse.text}}</p>
  </div>
</div>
