<!-- Book chapter reader view -->
<div class="container body-content">
  <h6 class="text-right"><a href="#bibles/{{bible.code}}">{{bible.title}}</a></h6>
  <h2>{{book.title}}</h2>

  <p>
    <a href="#bibles/{{book.bible}}">Back to books</a>
  </p>
  <div>
    <ul class="pagination">
      <li ng-repeat="c in chapterRange"
          class="{{c == currChapterNum?'active':''}}">
        <a href="" ng-click="getChapterVerses(c)">
          {{c}}
        </a>
      </li>
    </ul>
  </div>

  <!-- Navigation buttons -->
  <div>
    <ul class="pager">
      <li class="previous">
        <a href="" ng-click="previousChapter()">
          <span class="glyphicon glyphicon-chevron-left"></span> Previous
        </a>
      </li>

      <li class="next">
        <a href="" ng-click="nextChapter()">
          Next <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Render chapter text -->
  <h4>Chapter {{currChapterNum}}</h4>
  <div class="panel">
    <p ng-repeat="verse in verses"><sup>{{verse.verse}}</sup> {{verse.text}}</p>
  </div>
</div>
